.imgLogo
{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
    border-radius: 5rem;
    box-shadow: 0.2rem 0.2rem 1.2rem rgb(58, 56, 56);
}

.divLogos
{
    display: flex;
}

.imgLogo:hover{
    cursor: pointer;
    width: 10.2rem;
    height: 10.2rem;
    border-radius: 5.2rem;
}

.textChoise {
    text-align: center;
    margin-bottom: 3rem;
    font-style: unset;
}